/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@import url('https://rsms.me/inter/inter.css');

$font-main: 'Avenir Next', 'Nunito Sans', sans-serif;

$font-title: 'Ubuntu', 'Open Sans', 'Segoe UI', 'Helvetica Neue', 'Droid Sans Serif', 'Roboto', Arial, sans-serif;

$font-body: 'Inter var', 'Ubuntu', 'Open Sans', 'Segoe UI', 'Helvetica Neue', 'Droid Sans Serif', 'Roboto', Arial, sans-serif;

$font-figures: 'Rajdhani', 'Avenir Next Condensed', 'Dosis', 'Encode Sans Semi Condensed', 'Arial', sans-serif;

$font-monospace: Menlo,Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;

@import "partials/mixins";

$highlightColor: #ff8a00;
$highlightColoralpha: #ffd40055;
$selectedKey: #ff8a00;
$popupBgColor: #222833;
$mainColor: #11517F;

@import "partials/reset";
@import "partials/_customClass";

@supports (font-variation-settings: normal) {
  body { font-family: $font-body; }
}

// body{
//   margin: 0;
//   background-color: #000;
//   color: #fff;
//   font-family: $font-title;
//   font-family: $font-body;
//   // line-height: 1.4;
//   // line-height: 24px;
//   font-size: 14px;
//   letter-spacing: -0.007em;
//   line-height: 20px;
//   // For hardware acceleration
//   transform: translate3d(0, 0, 0);
// }

// canvas{
//   cursor: url(../cursor.svg) 16 16, url(../cursor.png) 16 16, pointer;
// }

h3{
  font-family: 'system';
	font-size: 2.1rem;
	line-height: 1.3;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 0.9rem;
	margin-top: 4.4rem;
	letter-spacing: 0.1rem;
}

h4{ // Motivations
  font-size: 1.3rem;
  margin: .6rem 0;
}

a[target="_blank"]{
  &:after{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22xMinYMin%20meet%22%20style%3D%22fill%3Awhite%3B%22%3E%3Cpath%20d%3D%22M18.8%2C85.1h56l0%2C0c2.2%2C0%2C4-1.8%2C4-4v-32h-8v28h-48v-48h28v-8h-32l0%2C0c-2.2%2C0-4%2C1.8-4%2C4v56C14.8%2C83.3%2C16.6%2C85.1%2C18.8%2C85.1z%22%2F%3E%3Cpolygon%20points%3D%2245.7%2C48.7%2051.3%2C54.3%2077.2%2C28.5%2077.2%2C37.2%2085.2%2C37.2%2085.2%2C14.9%2062.8%2C14.9%2062.8%2C22.9%2071.5%2C22.9%20%22%2F%3E%3C%2Fsvg%3E");
    background-position: 0 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-left: .3rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    transform: translateY(2px);
  }
}

.tl{text-align: left;}

.tr{text-align: right;}

.only-mobile{ display: none; }

.visuallyhidden{
  visibility: hidden;
}

.font-figure{
  font-family: $font-figures;
}

#loading {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .progress {
      margin: 1.5em;
      // border: 1px solid white;
      background: rgba(255,255,255,.22);
      width: 50vw;
  }
  .progressbar {
      // margin: 2px;
      background: rgb(255,242,0);
      background: linear-gradient(-90deg, rgba(255,242,0,1) 0%, rgba(161,154,40,1) 100%);
      height: .1em;
      transform-origin: top left;
      transform: scaleX(0);
  }
}

.containerSheen {
	position: relative;
	display: block;
	height: 3.5714285714rem;
	margin-bottom: 2.1428571429rem;
	width: 100%;
	flex-grow: 2;
}
.button {
	font-size: 0.9285714286rem;
	line-height: 1.4;
	min-height: 2.2857142857rem;
	transition: background-color .2s ease,border-color .2s ease,-webkit-filter .2s ease;
	-webkit-transition: background-color .2s ease,border-color .2s ease,-webkit-filter .2s ease;
	transition: filter .2s ease,background-color .2s ease,border-color .2s ease;
	transition: filter .2s ease,background-color .2s ease,border-color .2s ease,-webkit-filter .2s ease;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	display: -ms-inline-flexbox;
	display: -webkit-inline-box;
	display: inline-flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	border-radius: 4px;
	padding: 0.2857142857rem 1.0714285714rem;
	font-weight: 600;
	white-space: nowrap;
	cursor: pointer;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid transparent;
	background-clip: border-box !important;
	background-origin: border-box !important;
	background-origin: padding-box;
	background-clip: border-box;
  &:focus{
    border: 2px solid red;
  }
}
.button--sheen-l {
	color: #fff;
	letter-spacing: 0.025em;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,0.5) 10%, rgba(255,255,255,0) 100%);
	padding: 1rem 10rem 1rem 2rem;
	width: 100%;
	max-width: 650px;
	border: 0;
	border-left: 15px solid #FFF;
	cursor: pointer;
	-ms-transform: skewX(16deg);
	-webkit-transform: skewX(16deg);
	transform: skewX(16deg);
	border-radius: 1px;
	min-width: 7.1428571429rem;
	overflow: hidden;
	position: absolute;
	top: 0%;
	left: 0%;
	transform: skewX(16deg) !important;
}
.button--sheen-l span {
		display: block;
		position: relative;
		z-index: 10;
		font-size: 1.25rem;
		-ms-transform: skewX(-16deg);
		-webkit-transform: skewX(-16deg);
		transform: skewX(-16deg);
		font-family: $font-title;
		margin: 0 auto 0 0;
	}
.button--sheen-l:after, .button--sheen-l:before {
	/* padding: 1.3rem 0 0.8rem; */
	content: '';
	position: absolute;
	top: 0;
	left:0;
	height: 100%;
	width: 100%;
	/* left: calc(-100% - 40px); */
	/* width: calc(100% + 20px); */
	opacity: 0;
	color: #fff;
	border-radius: 2px;
	/* transform: skew(25deg); */
	transition: opacity .4s ease-in-out, box-shadow .3s ease-in-out;
	background: linear-gradient(90deg, rgba(255, 249, 220, 0.7) 20%, rgba(255,255,255,0) 50%);
	box-shadow: 0 0 12px rgba(255, 249, 220, 0);
}
/* .button--sheen-l:before {
		background: linear-gradient(90deg, rgba(255, 249, 220, 0.7) 20%, rgba(255,255,255,0) 50%);
		z-index: 5;
		transition: left .7s cubic-bezier(0.46, 0.18, 0.07, 1) 0;
} */
/* .button--sheen-l:after {
		background: linear-gradient(90deg, rgba(255,255,255,0.7) 9%, rgba(255,255,255,0) 30%);
		transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
		z-index: 0;
		opacity: 0.8;
} */
.button--sheen-l:hover{
	border-left: 15px solid rgba(255, 249, 220, .7);
	box-shadow: 0 0 12px rgba(255, 249, 220, .3);
	transition: box-shadow .3s ease-in-out;
}
.button--sheen-l:hover:before { /* .button--sheen-l:hover:before */
		/* left: calc(0% - 10px); */
		/* transition: left 1s cubic-bezier(0.36, 0.37, 0.45, 1); */
		opacity: 1;
		transition: opacity .4s ease-in-out;
}
/* .button--sheen-l:hover:after {
		left: calc(0% - 10px);
		transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
} */

.large-button{
  display: -ms-inline-flexbox;
	display: -webkit-inline-box;
	display: inline-flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

  background-color: transparent;
  font-size: 0.9285714286rem;
	line-height: 1.4;
	min-height: 4rem;
  color: white;
  /* align-self: stretch; */
  display: block;
  align-self: stretch;
  /* padding-left: 3rem; */
  /* padding-right: 3rem; */
  box-sizing: content-box;
  width: 100%;
  border: 0;
  border: 1px solid transparent;
  transition: border .3s ease-out;
  box-sizing: border-box;
  position: relative;

  &.left-align{
    text-align: left;
    padding-left: 2rem;
  }
  &:before {
  	content: '';
  	position: absolute;
    // transform: skewX(-16deg) !important;
  	top: 0;
  	left:0;
  	height: 100%;
  	width: 96%;
    background-color: rgba(255,255,255,.12);
  	opacity: 1;
  	color: #fff;
  	border-radius: 2px;
  	// transition: opacity .4s ease-in-out, box-shadow .3s ease-in-out;
  	// background: linear-gradient(90deg, rgba(255, 249, 220, 0.7) 20%, rgba(255,255,255,0) 50%);
  	// box-shadow: 0 0 12px rgba(255, 249, 220, 0);
  }
  &:hover:before{
    // border: 1px solid #FFF;
    // background-color: rgba(255, 242, 0, .1);
    // transition: border .3s ease-out;
    @include corners();
  }
  &:hover{
  }
  &:active{
    outline: none;
  }
  &.left-align{
    text-align: left;
    padding-left: 2rem;
    color: #fff;
    outline:none;
    // margin-bottom: 1rem;
    position: relative;
    &.active{
      &:before {
        // opacity: 1;
        @include corners();
        @include gradient();
        opacity: .75;
        z-index: -1;
        // background-color: rgba(255, 242, 0, .3);
      }
      &:after{
        content: "";
        position: absolute;
        right: calc(0% - 2vw);
        top: 50%;
        height: 1px;
        width: 2vw;
        background-color: rgba(255,255,255,.4);
      }
    }
    &:before {
      opacity: 0;
      // background-color: rgba(255, 242, 0, .3);
      // transition: opacity .3s ease;
    }
    &:hover:before{
      opacity: 1;
      transition: opacity .3s ease;
    }
    &:active{
      outline: none;
    }
  }
}



.menu{
	/* transform: rotateY(0deg) translateX(-3rem); */
	background-color: rgba(0,0,0,0.7);
	padding: 2rem;
	height: 100%;
	border: 1px solid $highlightColor;
	/* display: none; */
	font-family: inherit;
}

.menuContainer{
  @include displayFlex(flex-start, row, center);
  width: 92%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 75;
  // transform: translateX(3%) translateZ(100px) rotateY(8deg) rotateX(6deg) scale(0.82);
}
.leftSubmenuColumn{
  flex-basis: 30%;
  height: 100%;
  margin-right: 2vw;
}
.rightSettings {
  flex-basis: 70%;
  // height: 100%;
  max-height: 100%;
  // overflow-y: scroll;
  padding-left: 1vw;
  // padding-right: 3vw;
  box-sizing: border-box;
  border-left: 1px solid rgba(255,255,255,0.2);
  h3{
    margin-bottom: 1.2rem;
    margin-top: 1.7rem;
  }
  p{
    // margin: 3rem;
  }
  ul{
    margin: 1.2rem 0;
  }
}
.notice{
  background: rgba(34, 40, 51, .4);
  padding:.7rem;
  margin-bottom: 4rem;
}
.option-menu-list{
  li{
    margin-bottom: 0;
  }
}

// Radio

.inputGroup {
    background-color: $popupBgColor;
    color: #FFF;
    display: block;
    margin: 10px 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;

    label {
      padding: 12px 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: #FFF;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: $highlightColoralpha;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        content: '';
        border: 2px solid #D1D7DC;
        background-color:hsla(219, 20%, 37%, 1);
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='hsla(219, 20%, 37%, 1)' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        z-index: 2;
        position: absolute;
        right: 80px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input[type="radio"] ~ label:after {
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }
    input[type="checkbox"] ~ label:after {
      width: 24px;
      height: 24px;
      border-radius: 0%;
      background-position: 1px 0px;
      // transform: translateY(-70%);
    }

    input:checked ~ label {
      color: #fff;
      overflow: hidden;

      &:before {
        transform: translate(-50%, -50%) scale3d(130, 70, 1);
        opacity: 1;
      }

      &:after {
        background-color: $highlightColor;
        border-color: $highlightColor;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }

.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

code {
  background-color: #9AA3AC;
  padding: 0 8px;
}

@import "partials/_legend";
@import "partials/_timeline";
@import "partials/_option-menu";
@import "partials/_detail";

@import "partials/_responsive";
