node_modules
node_modules/*

.swp

**/*/.DS_Store

.cache/

dist/assets/img/all-projects/

*.ai

# hide SFTP variables
dist/sftp-config.json

# from the old version of the portfolio (3D view with desk)
src/assets/img/desktop-3d/
