img{
	max-width: 100%;
	/* width: 100%; */
}

ul{
	list-style: disc;
	padding-left: 1.4rem;
	li {
		margin-bottom: 1rem;
	}
}
ul.no-list{
	list-style: none;
	padding-left: 0;
}

a.color-link{
	// @include secondaryGradient();
	background: linear-gradient(90deg, #ff8a00 0%, #e52e71 100%);

  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mt-10{margin-top:1rem;}
.mt-30{margin-top:3rem;}
.mt-50{margin-top: 7.4rem;}

.hidden { opacity: 0; }

.black-color{color:#000}
.white-color{color:#000}

.noOverflow{overflow:hidden;position:relative;}

.reverse-row{justify-content: flex-end;}

.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}

.flex-row{
  @include displayFlex(space-around, row);
	// @at-root &--secondary{
  position: relative;
  &.middleBar:after{
    content: '';
    transform: skewX(-16deg) !important;
    position: absolute;
    top:0; left: 50%;
    width: 3px;
    height:100%;
    background: #FFF200;
  }
}

.flex{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-align-items: center; /* Safari 7.0+ */
	align-items: center;

	flex-wrap: wrap;

	&.f-start{
		-webkit-justify-content: flex-start; /* Safari 6.1+ */
		justify-content: flex-start;
	}
	&.f-center{
		-webkit-justify-content: center; /* Safari 6.1+ */
		justify-content: center;
	}
	&.f-between{
		-webkit-justify-content: space-between; /* Safari 6.1+ */
		justify-content: space-between;
	}

	&.f-row{
		flex-direction: row;
		-webkit-flex-direction: row;
		// orientation($dir);
	}
	&.f-column{
		flex-direction: column;
		-webkit-flex-direction: column;
		// orientation($dir);
	}
	&.f-align-start{
		-webkit-align-items: flex-start; /* Safari 7.0+ */
		align-items: flex-start;
	}
	.col-md-12, .col-md-4, .col-md-3, .col-md-6, .col-12, .col-6, .col-4, .col-3, .col-6{
		padding-left: 15px;
    box-sizing: border-box;
	}
	.col-12{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.col-4{
		flex: 0 0 0 0 33.33333%;
		max-width: 33.33333%;
	}
	.col-3{
		flex: 0 0 0 0 25%;
		max-width: 25%;
	}
	.col-6{
		flex: 0 0 0 0 50%;
		max-width: 50%;
	}
}

.corners{
	background-image: url(../img/timeline/timeline_nw.svg), url(../img/timeline/timeline_ne.svg), url(../img/timeline/timeline_sw.svg), url(../img/timeline/timeline_se.svg);
	background-position: 0 0, 100% 0, 0 100%, 100% 100%;
	background-size: 12px 12px;
	background-repeat: no-repeat;
}

.key{
  font-size: .8em;
  box-shadow: 1px 0 1px 0 #eee,0 2px 0 2px #ccc,0 2px 0 3px #444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 2px;
  margin: 2px 3px;
  padding: 1px 5px;
  text-align: left;
  white-space: nowrap;
  margin-right: 1rem;
  border: 1px solid #5555;
  width: initial;
  min-width: 28px;
  color: #333;
  height: 28px;
  padding-right: 0.4rem;
  background: rgba(235,235,235,0.9);
}

.scrollbar{
  overflow-y: auto;
  height: 100%;
  padding-right: 1rem;
  @include scrollbar();
}

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
	.tc-md{text-align: center}
	.tl-md{text-align: left}
	.tr-md{text-align: right}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.tc-lg{text-align: center}
	.tl-lg{text-align: left}
	.tr-lg{text-align: right}
}

@media (min-width: 1200px) { }