img{
	max-width: 100%;
	/* width: 100%; */
}

ul{
	list-style: disc;
	padding-left: 1.4rem;
	li {
		margin-bottom: 1rem;
	}
}
ul.no-list{
	list-style: none;
	padding-left: 0;
}

.mt-10{margin-top:1rem;}
.mt-30{margin-top:3rem;}
.mt-50{margin-top: 7.4rem;}

.hidden { opacity: 0; }

.black-color{color:#000}
.white-color{color:#000}

.noOverflow{overflow:hidden;position:relative;}

.reverse-row{justify-content: flex-end;}

.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}

.flex-row{
  @include displayFlex(space-around, row);
  position: relative;
  &.middleBar:after{
    content: '';
    transform: skewX(-16deg) !important;
    position: absolute;
    top:0; left: 50%;
    width: 3px;
    height:100%;
    background: #FFF200;
  }
}

.highlight{
	color: #888;
	transition: color .6s ease;
	&:hover{
		.highlight--tag{
			color: #ededed;
			transition: color .6s ease;
		}
	}
	.highlight--tag{
		color: #888;
		transition: color .6s ease;
	}
}

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
	.tc-md{text-align: center}
	.tl-md{text-align: left}
	.tr-md{text-align: right}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.tc-lg{text-align: center}
	.tl-lg{text-align: left}
	.tr-lg{text-align: right}
}

@media (min-width: 1200px) { }