// .text{
//   transform: translateY(30px) translateZ(100px) rotateY(8deg) rotateX(6deg) scale(.92);
//   transition: transform .3s ease;
// }
// .images{
//   transform: translateY(30px) translateZ(100px) rotateY(8deg) rotateX(6deg) scale(.92);
//   transition: transform .3s ease;
// }
// .details-wrapper > div{
//   transform: translateY(30px) translateZ(100px) rotateY(8deg) rotateX(6deg) scale(.92);
//   transition: transform .3s ease;
// }

#details{
  perspective: 1000px;
  position: fixed;
  z-index: 45;
  top: 0;
  left:0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.65);
  -webkit-backdrop-filter: blur(7px) /* saturate(180%) */;
    backdrop-filter: blur(7px);
  .details-wrapper{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4vw;
    box-sizing: border-box;
    max-height: 100vh;
  }
  .text, .images{
    // flex-basis: 40%
    background-image: url(../img/timeline/timeline_nw.svg), url(../img/timeline/timeline_ne.svg), url(../img/timeline/timeline_sw.svg), url(../img/timeline/timeline_se.svg);
    background-position: 0 0, 100% 0, 0 100%, 100% 100%;
    background-size: 12px 12px;
    background-repeat: no-repeat;

    padding: .9rem;
    padding-right: .5rem;

    // transform: translateY(0) translateZ(0px) rotateY(0) rotateX(0) scale(1);
    // transition: transform .4s 1s ease;

    animation-duration: .56s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-delay: .05s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-play-state: running;
    // transform: translate(-50%, -50%) translateZ(0) rotateY(0) rotateX(0) scale(1.15);

  }
  .text{
    animation-name: animateDetailLeft;
    flex-shrink: 2;
    box-sizing: border-box;
    // height: 45vh;
    margin-right: 2vw;
    width: 60%;
    max-width: 600px;
    .bg-block{
      &:last-child{
        margin-bottom:0;
      }
      h3:first-child{
        margin-top: 0;
      }
    }
    p{
      margin-bottom: .5rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .images{
    animation-name: animateDetailRight;
    animation-delay: .4s;
    animation-duration: .5s;
    background-color: rgba(0,0,0,.08);
    flex-basis: 0;
    width: 100%;
    flex-grow: 2;
    box-sizing: border-box;
    overflow-y: hidden;
    img {
      margin: 0 auto .4rem;
      display: block;
      // width: 100%;
      max-height: 600px;
      max-width: 100%;
    }
    .scrollbar{
      height: 98%;
    }
  }
}

.caption{
  font-style: italic;
  font-size: .85rem;
  color: #BBB;
  margin: 1.8rem 1rem .8rem;
}

.extra_job-info{
  > div:first-child{
    flex-basis: auto;
    margin-right: .6rem;
  }
  > div:last-child{
    flex-basis: auto;
    flex-grow: 2;
  }
}
// .scrollbar img{
//   opacity: 1;
// }
// .staggered-transition {
//   transition: all .5s ease;
//   opacity: 1;
//   // overflow: hidden;
//   // margin: 0;
//   // height: 20px;
//   // opacity:
// }

// .staggered-enter, .staggered-leave {
//     opacity: 0;
// }

/* always present */
.staggered-transition {
  transition: all .3s ease;
  opacity: 1;
  // height: 30px;
  // padding: 10px;
  // background-color: #eee;
  // overflow: hidden;
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.staggered-enter, .staggered-leave{
  opacity: 0;
  transition: all .3s ease;
}