.key-legend{
  	position: fixed;
  	bottom: 2rem;
  	right: 2rem;
  	display: flex;
  	justify-content: flex-end;
  	flex-direction: row;
  	z-index: 55;
    overflow-y: hidden;
    .key-blocks{
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      margin-left: 3vw;
      align-items: flex-start;
      transform-origin: 100% 100%;
      transition: transform .25s cubic-bezier(0.5, 0, 0.75, 0);
      &.smaller, &.initially-reduced{
        transform: scale(.8);
        transition: transform .25s cubic-bezier(0.5, 0, 0.75, 0);
      }
    }
    .key-block{
      flex-basis: 0;
      label{
        color: #333;
        padding-top: 0.3rem;
      }
      &.openMenu{
        label{
          color: #DDD;
        }

      }
    }
  }
  .legend{
    position: fixed;
    color: #666;
    left: 2.5vw;
    bottom: 2.5vw;
    // width:30%;
    // min-height: 20vh;
    background: #f5f5f5;
    z-index: 50;
    padding:2vw;
    box-sizing: border-box;

    transform: scale(0);

    transform-origin: 0% 100%;
    transition: transform .3s cubic-bezier(0.265, 0.830, 0.745, 1.000); /* easeOutCubic */
    &.smaller{
      transform: scale(.8);
      transition: transform .3s cubic-bezier(0.265, 0.830, 0.745, 1.005); /* easeOutCubic */
    }

    h3{
      margin-top: 0;
      margin-bottom: 1.4rem;
    }

    .col-6{
      .filter-item:last-child{
        margin-bottom: 0;
      }
    }

    // -webkit-tap-highlight-color: rgba(0,0,0,0);
    // -webkit-tap-highlight-color: transparent;
    // cursor:pointer;
    // background-color:#eeeeee;
    // border-radius:10px;
    // box-shadow: -7px -7px 20px 0px #fff9,
    box-shadow: 7px 7px 20px 0px #0002,
                4px 4px 5px 0px #0001,
                inset 0px 0px 0px 0px #0001,
                inset 0px 0px 0px 0px #0001;
  }
  .legend-row{
    display:flex;justify-content:flex-start;flex-direction:row;margin-bottom:1rem;
  }
  .qub{
    width: 20px;
    height: 20px;
    margin-right:1rem;
    &.main{
        background-color: $mainColor;
    }
    &.work{
      background-color: #00ffff;
    }
    &.study{
      background-color: #11517F;
    }
    &.freelance{
      background-color: #8800ff;
    }
  }
  .legend-icon{
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    // flex-basis: 0
    label{
      color: #333;
      br{ display: none; }
    }
    svg{
      width: 30px;
      height:30px
    }
  }

  .HUD-legend{
    transform: translateY(0);
    transition: transform .3s ease-out;
    &.hideHUD, &.initially-reduced{
      transform: translateY(100%);
      transition: transform .3s ease-in;
    }
  }

  .major{
    @include major();
  }
  .minor{
    @include minor();
  }
  .minor, .major{
    padding: .4rem .4rem;
    margin-bottom: .6rem;
    transform: scale(.85);
  }

  .filter-item{
    position: relative;
    display: block;
    border: 0;
    cursor: pointer;
    margin-bottom: .8rem;
    outline: 0;
    background-color: transparent;
    padding-left: 0;
    span{
      padding: .4rem 3.55rem .4rem;
      color: #AAA;
      padding-left: 2.8rem;
    }
    &.selected{
      span{
        background-color: $mainColor;
        color: white;
      }
      &:before{
        border: 1px solid white;
        background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20preserveAspectRatio%3D%22xMinYMin%20meet%22%20viewBox%3D%220%200%20200%20200%22%3E%20%3Cline%20style%3D%22fill%3Anone%3Bstroke%3A%23FFF%3Bstroke-width%3A15%3Bstroke-miterlimit%3A10%3B%22%20x1%3D%226.46%22%20y1%3D%226.98%22%20x2%3D%22192.93%22%20y2%3D%22193.45%22%2F%3E%20%3Cline%20style%3D%22fill%3Anone%3Bstroke%3A%23FFF%3Bstroke-width%3A15%3Bstroke-miterlimit%3A10%3B%22%20x1%3D%22192.93%22%20y1%3D%226.98%22%20x2%3D%226.46%22%20y2%3D%22193.45%22%2F%3E%20%3C%2Fsvg%3E%0A");
        background-size: 70% auto;
        background-position: 45% 45%;
        background-repeat: no-repeat;
      }
    }
    &:before{
      content: "";
      position: absolute;
      background-color: transparent;
      width: 10px;
      height: 10px;
      left: 1.15rem;
      top: 7px;
      border: 1px solid $mainColor;
      transform: translateY(-4px);
    }
  }


  .reset-camera{
    border: 1px solid $mainColor;
    background: transparent;
    outline: 0;
    padding: .4rem .55rem;
    max-height: 40px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    svg{
      max-height: 30px;
      width: 30px;
      // margin-right: .6rem;
    }
  }

  .row-legend{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  #scale{
    position: absolute;
    left: 1rem;
    top: 6vh;
    height: 60vh;
    width: 1rem;
    z-index: 50;
    background-color: rgba(255,255,255, .12);
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%20width%3D%221px%22%20height%3D%22200px%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%203%20200%22%3E%3Cline%20style%3D%22stroke%3A%23666%3Bstroke-width%3A1%22%20x1%3D%220%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%22200%22%3E%3C%2Fline%3E%3C%2Fsvg%3E"), url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2016%20600%22%20preserveAspectRatio%3D%22xMidYMid%20slice%22%3E%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23828282%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20x1%3D%220%22%20y1%3D%221%22%20x2%3D%2216%22%20y2%3D%221%22%2F%3E%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23828282%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20x1%3D%220%22%20y1%3D%22600%22%20x2%3D%2216%22%20y2%3D%22600%22%2F%3E%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23828282%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20x1%3D%220%22%20y1%3D%22500%22%20x2%3D%2216%22%20y2%3D%22500%22%2F%3E%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23828282%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20x1%3D%220%22%20y1%3D%22400%22%20x2%3D%2216%22%20y2%3D%22400%22%2F%3E%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23828282%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20x1%3D%220%22%20y1%3D%22301%22%20x2%3D%2216%22%20y2%3D%22301%22%2F%3E%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23828282%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20x1%3D%220%22%20y1%3D%22201%22%20x2%3D%2216%22%20y2%3D%22201%22%2F%3E%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23828282%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20x1%3D%220%22%20y1%3D%22101%22%20x2%3D%2216%22%20y2%3D%22101%22%2F%3E%20%3C%2Fsvg%3E");
    background-repeat: no-repeat, repeat-y;
    background-position: 50% 0, 50% 0%;
    background-size: 5px 100%, 100% auto;
    // background: url(../img/scale.svg) 50% 0/auto 100% no-repeat;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    &:before, &:after{
      left: -.5rem;
      position: absolute;
      width: 6rem;
      color: #666;
      font-size: .65rem;
    }
    &:before{
      content: 'Zoom max';
      top: -25px;
    }
    &:after{
      content: 'Zoom min';
      bottom: -25px;
    }
    transform: translateX(0);
    transition: transform .3s ease-out;
    &.hideHUD{
      transform: translateX(-5rem);
      transition: transform .3s ease-in;
    }
  }

  .marker{
    z-index: 50;
    width: 20px;
    height: 2px;
    top: 0;
    right: -8px;
    background-color: #000;
    position: absolute;
    -webkit-transition: transform .25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: transform .25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: transform .25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: transform .25s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }
