.key-legend{
  	position: fixed;
  	bottom: 2rem;
  	right: 2rem;
  	display: flex;
  	justify-content: flex-end;
  	flex-direction: row;
  	z-index: 55;
    .key-block{
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      margin-left: 3vw;
      align-items: center;
      label{
        color: #333;
        padding-top: 0.3rem;
      }
      &.openMenu{
        label{
          color: #DDD;
        }

      }
    }
  }
  .legend{
    position: fixed;
    color: #666;
    left: 3rem;
    bottom: 3rem;
    // width:30%;
    // min-height: 20vh;
    background: #f5f5f5;
    z-index: 50;
    padding:2vw;
    box-sizing: border-box;

    // box-shadow:
    //   0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    //   0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    //   0 12.5px 10px rgba(0, 0, 0, 0.035),
    //   0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    //   0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    //   0 100px 80px rgba(0, 0, 0, 0.07);

      h3{
        margin-top: 0;
        margin-bottom: 1.4rem;
      }

      // -webkit-tap-highlight-color: rgba(0,0,0,0);
      // -webkit-tap-highlight-color: transparent;
      // cursor:pointer;
      // background-color:#eeeeee;
      // border-radius:10px;
      // box-shadow: -7px -7px 20px 0px #fff9,
      box-shadow: 7px 7px 20px 0px #0002,
                  4px 4px 5px 0px #0001,
                  inset 0px 0px 0px 0px #0001,
                  inset 0px 0px 0px 0px #0001;
  }
  .legend-row{
    display:flex;justify-content:flex-start;flex-direction:row;margin-bottom:1rem;
  }
  .qub{
    width: 20px;
    height: 20px;
    margin-right:1rem;
    &.main{
        background-color: $mainColor;
    }
    &.work{
      background-color: #00ffff;
    }
    &.study{
      background-color: #11517F;
    }
    &.freelance{
      background-color: #8800ff;
    }
  }

  .major{
    @include major();
  }
  .minor{
    @include minor();
  }
  .minor, .major{
    padding: .4rem .4rem;
    margin-bottom: .6rem;
    transform: scale(.85);
  }

  .filter-item{
    position: relative;
    display: block;
    border: 0;
    cursor: pointer;
    margin-bottom: .8rem;
    outline: 0;
    background-color: transparent;
    span{
      padding: .4rem 3.55rem .4rem;
      color: #AAA;
      padding-left: 2.8rem;
    }
    &.selected{
      span{
        background-color: $mainColor;
        color: white;
      }
      &:before{
        border: 1px solid white;
        background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20preserveAspectRatio%3D%22xMinYMin%20meet%22%20viewBox%3D%220%200%20200%20200%22%3E%20%3Cline%20style%3D%22fill%3Anone%3Bstroke%3A%23FFF%3Bstroke-width%3A15%3Bstroke-miterlimit%3A10%3B%22%20x1%3D%226.46%22%20y1%3D%226.98%22%20x2%3D%22192.93%22%20y2%3D%22193.45%22%2F%3E%20%3Cline%20style%3D%22fill%3Anone%3Bstroke%3A%23FFF%3Bstroke-width%3A15%3Bstroke-miterlimit%3A10%3B%22%20x1%3D%22192.93%22%20y1%3D%226.98%22%20x2%3D%226.46%22%20y2%3D%22193.45%22%2F%3E%20%3C%2Fsvg%3E%0A");
        background-size: 70% auto;
        background-position: 45% 45%;
        background-repeat: no-repeat;
      }
    }
    &:before{
      content: "";
      position: absolute;
      background-color: transparent;
      width: 10px;
      height: 10px;
      left: 1.15rem;
      top: 7px;
      border: 1px solid $mainColor;
      transform: translateY(-4px);
    }
  }

  .column-legend{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 1vw;
    &:nth-of-type(2){
      align-self: flex-start;
    }
    &:last-child{
      margin-right: 0;
    }
    .filter-item{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .reset-camera{
    border: 1px solid $mainColor;
    background: transparent;
    outline: 0;
    padding: .4rem .55rem;
    max-height: 40px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    svg{
      max-height: 30px;
      width: 30px;
      margin-right: .6rem;
    }
  }

  .row-legend{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }