#optionMenu{
  position: absolute;
  // overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  z-index: 150;
  background-color: rgba(0,0,0,.88);
  // overflow: hidden;
  &:before, &:after{
    content: '';
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 15vh;
    z-index: 200;
  }
  &:before{
    transform-origin: 100% 0%;
    top: 0;
    right: 0;
    // transform: skewY(0deg) translateY(-100%);
  }
  &:after{
    transform-origin: 0 100%;
    bottom: 0;
    left: 0;
    // transform: skewY(0deg) translateY(100%);
    // transition: transform .4s ease-in;
  }

  &.isMenuOpen{
    &:before{
      // transform: skewY(-1deg) translateY(-140px);
      // transition: transform .4s .3s ease-in;
      animation-name: skewTransitionBefore;
      animation-duration: .4s;
      animation-delay: .45s;
      animation-timing-function: $transition;
      animation-direction: normal;
      animation-fill-mode: both;
      animation-iteration-count: 1;
    }
    &:after{
      // transform: skewY(-2deg) translateY(120px);
      // transition: transform .4s .3s ease-in;
      animation-name: skewTransitionAfter;
      animation-duration: .4s;
      animation-delay: .3s;
      animation-timing-function: $transition;
      animation-direction: normal;
      animation-fill-mode: both;
      animation-iteration-count: 1;
    }
    .option-menu-list li{
      animation-name: lineTransition;
      animation-duration: .4s;
      animation-timing-function: $transition;
      animation-direction: normal;
      animation-fill-mode: both;
      animation-iteration-count: 1;
      $lines: 10;
      @for $i from 1 through $lines {
        &:nth-child(#{$i}) {
          animation-delay: #{math.div($i, 20) + .35}s;
        }
      }
    }
  }
}
.returnArrow{
  display: inline-block;
  width: 30px;
  max-height: 27px;
  margin-right: 1rem;
  transform: translateY(7px);
}

@mixin svgGradient(){
  shape-rendering: crispEdges;
  fill: url(#svgGradient);
}

svg#keyboard, svg.keyboard{
  margin: 2rem auto;
  display: block;
  path{
    fill: rgba(255,255,255,.2);
  }
  &.kb_default{
    #leftArrow{@include svgGradient()}
    #rightArrow{@include svgGradient()}
    #ESC{@include svgGradient()}
    #Space{@include svgGradient()}
  }
  &.kb_gamer{
    #a{@include svgGradient()}
    #d{@include svgGradient()}
    #ESC{@include svgGradient()}
    #e{@include svgGradient()}
  }
  &.kb_vim{
    #h{@include svgGradient()}
    #l{@include svgGradient()}
    #ESC{@include svgGradient()}
    #Space{@include svgGradient()}
  }
}

.keyMap{
  @include displayFlex(start, row, center);
  margin-bottom:.8rem;
  .key{
    margin-right: 23px;
  }
  .keyFeature{}
}

@import "./slider";
