@media screen and (max-width: 768px) {
  .only-mobile{ display: block; }
  #sidebar {
    width: 93%;
    max-width: initial;
    top: 4%;
    left: 5%;
  }
  .parade-accross{
    width: 92%;
  }
  .key-block{
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .key-legend .key-block{
    flex-direction: column;
    .key + label{
      display:block;
    }
  }
}