// ONLY MOBILE
@media screen and (orientation: portrait) and (max-width: 768px) {
  .only-desktop{ display: none; }
  .only-mobile{ display: block; }
  // #optionMenu.isMenuOpen{
  //   &:after, &:before{
  //     display: none;
  //   }
  // }
  .tuto-pan, .tuto-dbclick{
    img{
      height: 80%;
      margin-top: 5%;
    }
    .element{
      left: 50%;
    }
  }
  .tuto-pan{
    img{
      margin-left:20%;
      height: 70%;
    }
  }
  .legend h3{
    font-size: 1.5rem;
  }
  #optionMenu, .text{
    p{
      text-align: left;
    }
  }
  #scale{display: none !important;}
  #sidebar {
    width: 93%;
    max-width: initial;
    top: 4%;
    left: 5%;
  }
  .parade-accross{
    width: 92%;
  }
  .key-block{
    display: none;
  }
  .filter-item span{
    padding-right: 1rem;
    padding-left: 2.4rem;
  }
  #details{
    .images{
      overflow-y: visible;
    }
    .details-wrapper{
      flex-direction: column;
      height: 100%;
      overflow-y: scroll;
      .text, .images{
        width: 100%;
      }
      .images{
        margin-top: 2rem;
        h3{
          margin-top: 0
        }
      }
    }
  }
  .menuContainer{
    width: 98%;
    left: 1%;
  }
  .large-button.left-align{
    padding-left: 6px;
  }
}

@media screen and (orientation: landscape) and (max-width: 860px) {
  .only-desktop{ display: none; }
}

// ONLY DESKTOP
@media screen and (orientation: landscape) and (min-width: 860px){
  .only-desktop{ display: block; }
  .flex{
    // .col-md-12, .col-md-4, .col-md-3, .col-md-6, .col-12, .col-6, .col-4, .col-3, .col-6{
    //   padding-left: 15px;
    //   width: 100%;
    // }
    .col-12{
  		flex: 0 0 100%;
  		max-width: 100%;
  	}
  	.col-4{
  		flex: 0 0 0 0 33.33333%;
  		max-width: 33.33333%;
  	}
  	.col-3{
  		flex: 0 0 0 0 25%;
  		max-width: 25%;
  	}
  	.col-6{
  		flex: 0 0 0 0 50%;
  		max-width: 50%;
  	}
    .col-md-12{
      flex: 0 0 100%;
      max-width: 100%;
    }
    .col-md-4{
      flex: 0 0 0 0 33.33333%;
      max-width: 33.33333%;
    }
    .col-md-3{
      flex: 0 0 0 0 25%;
      max-width: 25%;
    }
    .col-md-6{
      flex: 0 0 0 0 50%;
      max-width: 50%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .key-legend{
    .key-block{
      transform: scale(0.85);
      flex-direction: column;
      .key + label{
        display:block;
      }
    }
    .legend-icon{
      align-self: baseline;
      br{ display: block; }
      svg{
        width: 20px;
        height:20px
      }
    }
  }
}
