@media screen and (max-width: 768px) {
  .only-mobile{ display: block; }
  #sidebar {
    width: 93%;
    max-width: initial;
    top: 4%;
    left: 5%;
  }
  .parade-accross{
    width: 92%;
  }
  .key-block{
    display: none;
  }
  .filter-item span{
    padding-right: 1rem;
    padding-left: 2.4rem;
  }
  #details .details-wrapper{
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    .text, .images{
      width: 100%;
    }
    .images{
      margin-top: 2rem;
      h3{
        margin-top: 0
      }
    }
  }
}

@media screen and (min-width: 768px){
  .flex{
    // .col-md-12, .col-md-4, .col-md-3, .col-md-6, .col-12, .col-6, .col-4, .col-3, .col-6{
    //   padding-left: 15px;
    //   width: 100%;
    // }
    .col-md-12{
      flex: 0 0 100%;
      max-width: 100%;
    }
    .col-md-4{
      flex: 0 0 0 0 33.33333%;
      max-width: 33.33333%;
    }
    .col-md-3{
      flex: 0 0 0 0 25%;
      max-width: 25%;
    }
    .col-md-6{
      flex: 0 0 0 0 50%;
      max-width: 50%;
    }
    .col-12{
  		flex: 0 0 100%;
  		max-width: 100%;
  	}
  	.col-4{
  		flex: 0 0 0 0 33.33333%;
  		max-width: 33.33333%;
  	}
  	.col-3{
  		flex: 0 0 0 0 25%;
  		max-width: 25%;
  	}
  	.col-6{
  		flex: 0 0 0 0 50%;
  		max-width: 50%;
  	}
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .key-legend .key-block{
    flex-direction: column;
    .key + label{
      display:block;
    }
  }
}