// Canvas
#DOMElTimeline, #DOMElMain{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 10;
  display: none;
}
div#DOMElTimeline{
  z-index: 20;
  pointer-events: none;
}
div#DOMElTimeline div.detail:hover{
  color: red;
  pointer-events: initial
}
div.year{
  font-size: 2rem;
  opacity: .9;
  color: #b7b7b7;
  font-family: "Inter";
  font-weight: 900;
}
div.timeline{
  color: #b7b7b7;
  font-family: "Inter";
  font-weight: 900;
  font-size: 6rem;
  /* position: relative; */
}
div.containerTimeline{
  position: relative;
}
.hr{
  width: 5rem;
  background-color: #a1a1a1;
  height: 12px;
  position: absolute;
  bottom: -4rem;
}
.legend{
  position: fixed;
  color: #666;
  left: 3rem;
  bottom: 3rem;
  width:30%;
  min-height: 20vh;
  background: #f5f5f5;
  z-index: 50;
  padding:1rem;
  box-sizing: border-box;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
.legend-row{
  display:flex;justify-content:flex-start;flex-direction:row;margin-bottom:1rem;
}
.qub{
  width: 20px;
  height: 20px;
  margin-right:1rem;
}
.qub.main{
    background-color: #11517F;
}
.qub.work{
    background-color: #00ffff;
}
.qub.study{
    background-color: #11517F;
}
.qub.freelance{
    background-color: #8800ff;
}

div.detail{
  div.into-detail{
    // background-color: rgba(255,255,255,.02);
    background-image: url(../img/timeline/timeline_nw.svg), url(../img/timeline/timeline_ne.svg), url(../img/timeline/timeline_sw.svg), url(../img/timeline/timeline_se.svg);
    background-position: 0 0, 100% 0, 0 100%, 100% 100%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    padding: .55rem;
    box-sizing: content-box;
    .desc{
      padding: .35rem .7rem;
      background: rgb(17,80,125);
      background: linear-gradient(90deg, rgba(17,80,125,1) 0%, rgba(24,117,187,1) 100%);
      color: #FFF;
      text-transform: uppercase;
      font-size: .6rem;
      // border: 2px solid #217892;
    }
  }
  &.main-thread .into-detail{
    padding: .25rem;
    background-size: 7px 7px;
    .desc{
      padding: .25rem .4rem;
      background: #aaaaaa;
      font-size: .4rem;
      color: #777777
    }
  }
}
div.year{
  font-size: 2rem;
  opacity: .9;
  color: #b7b7b7;
  font-family: "Inter";
  font-weight: 900;
}
div.timeline{
  color: #b7b7b7;
  font-family: "Inter";
  font-weight: 900;
  font-size: 6rem;
  /* position: relative; */
}
div.containerTimeline{
  position: relative;
  .hr{
    width: 5rem;
    background-color: #a1a1a1;
    height: 12px;
    position: absolute;
    bottom: -4rem;
  }
}

.wNContainer{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  .blinkingDot {
    position: relative;
    margin-right: 30px;
    height:25px;
    &:before, &:after{
      content: '';
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: absolute;
      top:0; left: 50%;
      // transform: translateX(-50%);
    }
    &:before{
      background-color: #C4D4FF;
      animation-name: blink;
      animation-duration: 1s;
      animation-timing-function:easeOutCubic;
      animation-delay: 0s;
      -webkit-animation-fill-mode: both; /* Safari 4.0 - 8.0 */
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-direction: alternate;

    }
    &:after{
      animation-delay: .6s;
      background-color: #3C61C7;
      transform: scale(.6, .6);
    }
  }
}
@keyframes blink {
  from {
    opacity: 0;
    transform: scale(.3, .3);
  }
  to {
    opacity: 1;
    transform: scale(1.6, 1.6);
  }
}
