// Canvas
#DOMElTimeline, #DOMElMain{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 10;
  // display: none;
}
#timeline{
  // display: none;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
div#DOMElTimeline{
  z-index: 20;
  background: url(../img/background.svg) 0 0 / cover no-repeat;
  // pointer-events: none;
}
.blurred{
  filter: blur(7px);
}
div.year{
  font-size: 2rem;
  opacity: .9;
  color: #b7b7b7;
  font-family: "Inter";
  font-weight: 900;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
div.yearlong{
  height: 2px;
  background-color: $mainColor;
}
div.timeline{
  color: #b7b7b7;
  font-family: "Inter";
  font-weight: 900;
  font-size: 6rem;
  /* position: relative; */
}
div.year{
  font-size: 2rem;
  opacity: .9;
  color: #9b9b9b;
  font-family: "Inter";
  font-weight: 700;
  &:before{
    content: "";
    position: absolute;
    top: -35px;
    left: 50%;
    background-color: $mainColor;
    width: 3px;
    height: 20px;
  }
}
div.timeline{
  color: #b7b7b7;
  font-family: "Inter";
  font-weight: 900;
  font-size: 6rem;
  /* position: relative; */
}
div.containerTimeline{
  position: relative;
  .hr{
    width: 5rem;
    background-color: #a1a1a1;
    height: 12px;
    position: absolute;
    bottom: -4rem;
  }
}
div.containerTimeline{
  position: relative;
}
.hr{
  width: 5rem;
  background-color: #a1a1a1;
  height: 12px;
  position: absolute;
  bottom: -4rem;
}


.globalTimeline{
  position: relative;
}

.timeline-title{
  width: 26rem;
  & > *{
    transform: scale(1.3);
  }
  h1{
    font-size: 2.5rem;
    color: black;
    border-bottom: 1px solid #000;
    padding-bottom: 1.4rem;
    text-transform:uppercase;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom:-3px;
      left: 0;
      width: 40%;
      height: 4px;
      background-color: #000;
    }
  }
  h2{
    font-size: 3.4rem;
    text-transform:uppercase;
    color: black;
    margin-top: 0;
    padding-top: 3rem;
  }
}

div.detail{
  position: absolute;
  width: 200px;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 1s 1.5s;
  cursor: pointer;
  // border: 1px solid transparent;
  // transition: transform .2s ease-in;
  &:hover .into-detail{
    // border: 1px solid rgba(127,255,255,0.75);
    transform: translate(50%, 50%) scale(1.12);
    transition: transform .15s ease-in;
  }
  .length-bar{
    position: absolute;
    top:-28px;
    left:0;
    height: 15px;
    width: 100%;
    background-color: grey;
    transform-origin: 0 50%;
    transform: scaleX(0);
    transition: transform .5s 1s ease;
  }
  &.timeline{
    // transform-origin: 0 0;
    .length-bar{
      transform: scaleX(1);
      transition: transform .8s 1s ease;
    }
    .techno{
      display: none;
    }
  }
  &.ignore{
    display: none !important;
  }

  @keyframes sheen {
    0% {
      transform: translateX(-100%) skew(25deg);
      opacity: 1;
    }
    15% {
      transform: translateX(100%) skew(25deg);
      opacity: 1;
    }
    /* Other animation is hidden for 75% of the time */
    15.1% {
      opacity: 0;
      transform: translateX(-100%) skew(25deg);
    }

    100% {
      transform: translateX(-100%) skew(25deg);
    }
  }


  div.into-detail{
    // background-color: rgba(255,255,255,.02);
    padding: .55rem;
    box-sizing: border-box;
    &.techno{
      -webkit-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
    }
    &.major{
      transform: translate(50%, 50%);
      transition: transform .15s ease-in;
      position: relative;
      overflow: hidden;
      &:after {
      	content: '';
      	position: absolute;
      	top: 0;
      	left:0;
      	height: 100%;
      	width: 100%;
      	width: 100%;
      	opacity: 0;
      	border-radius: 2px;
      	background: linear-gradient(-90deg, rgba(255, 255, 255, 0.4) 20%, rgba(255,255,255,0) 50%);
        animation-name: sheen;
			  animation-duration: 5s;
			  animation-timing-function: cubic-bezier(0.36, 0.37, 0.45, 1);
			  /* animation-delay: .3s; */
			  animation-direction: normal;
			  animation-iteration-count: infinite;
			  animation-fill-mode: both;
			  animation-play-state: running;
      }
      .desc{
        // background: rgb(17,80,125);
        // @include gradient();
        background-color: $mainProjectOne;
        &:before{
          background-color: $mainProjectTwo;
        }
      }
      div.techno{
        @include major();
        background-color: #85aed3;
      }
    }
    &.minor{
      transform: translate(50%, 50%) scale(.65);
      transition: transform .15s ease-in;
      .desc{
        // background: #6d9aba;
        background: $secondaryColorOne;
        color: #666;
        &:before{
          background-color: $secondaryColorTwo;
        }
      }
      div.techno{
        @include minor();
        background-color: #DDD;
      }
    }
    .desc{
      padding: .35rem .7rem;
      color: #FFF;
      text-transform: uppercase;
      font-size: .6rem;
      box-sizing: border-box;
      // border: 2px solid #217892;
      // to prevent accidental selection on text
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      position: relative;

      padding-left: 23%;

      &:before{
        content: '';
        // background-image: url("data:image/svg+xml, %3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22xMinYMin%20meet%22%3E%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%229%22%20stroke-miterlimit%3D%2210%22%20points%3D%2221.5%2C150%2021.5%2C19.5%20116%2C19.5%20%22%2F%3E%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%229%22%20stroke-miterlimit%3D%2210%22%20points%3D%22178.5%2C42%20178.5%2C176.5%2088%2C176.5%20%22%2F%3E%3Cline%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%223%22%20stroke-miterlimit%3D%2210%22%20x1%3D%2234.5%22%20y1%3D%22189%22%20x2%3D%22163%22%20y2%3D%225%22%2F%3E%0A%3C%2Fsvg%3E");
        // background-size: 70% auto;
        // background-position: 45% 45%;
        // background-repeat: no-repeat;
        height: 100%;
        position: absolute;
        width: 18%;
        top: 0;
        left: 0;
      }

    }
  }
  &.main-thread .into-detail{
    padding: .25rem;
    background-size: 7px 7px;
    box-sizing: border-box;
    .desc{
      padding: .25rem .4rem;
      background: #aaaaaa;
      font-size: .4rem;
      color: #777777;
      box-sizing: border-box;
      // to prevent accidental selection on text
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
    }
  }
  div.techno{
    font-size: .6rem;
    // background-color: #85aed3;
    padding: .4rem;
  }
  &.hide-el{
    opacity: 0;
    transition: opacity .75s .3s;
  }
}
div.symbol{
  position: relative;
  // box-shadow: 15px 15px 16px 20px rgba(0,0,0,0.12);
  // filter: drop-shadow(20px 20px 20px rgba(0,0,0,0.16));
  // transform: scale(1);
  opacity: 1;
  transition: opacity 1s 1.5s;
  div.bg{
    background-color: #5F9DD4;
    width: 280px;
    height: 120px;
    clip-path: polygon(35px 0%, 100% 0%, 245px 100%, 0% 100%);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    img, svg{
      max-width: 200px;
      max-height: 80px;
      transform: translateX(-8px);
    }
    use {
      transform: translateX(25%);
    }
  }
  div.title{
    font-size: 1.5rem;
    font-family: $font-title;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    bottom: -16px;
    left: -30px;
    background: rgb(17,80,125);
    background: linear-gradient(90deg, rgba(17,80,125,1) 0%, rgba(24,117,187,1) 100%);
    color: #FFF;
    min-width: 150px;
    padding: .65rem;
  }
  &.hide-symbol{
    // animation: hide-symbol 1s;
    // transform: scale(.6);
    opacity: 0;
    transition: opacity .75s .3s;
  }
}

.bond{
  width: 2px;
  background-color: $mainColor;
  display: block;
  height: 10px;
  opacity: 1;
  transition: opacity .75s 1.6s;
  &.hide-bounds{
    opacity: 0;
    transition: opacity .75s .6s;
  }
}

.wNContainer{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  .blinkingDot {
    position: relative;
    margin-right: 30px;
    height:25px;
    &:before, &:after{
      content: '';
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: absolute;
      top:0; left: 50%;
      // transform: translateX(-50%);
    }
    &:before{
      background-color: #C4D4FF;
      animation-name: blink;
      animation-duration: 1s;
      animation-timing-function:easeOutCubic;
      animation-delay: 0s;
      -webkit-animation-fill-mode: both; /* Safari 4.0 - 8.0 */
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-direction: alternate;

    }
    &:after{
      animation-delay: .6s;
      background-color: $mainColor;
      transform: scale(.6, .6);
    }
    .desc{
      min-width: 100px;
    }
  }
  .detail{
    position: static;
  }
}

.case-link{
  @include buttonStyle;
  @include gradient();
  margin-top: 1rem;
}

@keyframes blink {
  from {
    opacity: 0;
    transform: scale(.3, .3);
  }
  to {
    opacity: 1;
    transform: scale(1.6, 1.6);
  }
}


@media (max-width: 764px) {
  #intro .popup {
    width: 80%;
    padding: .6rem;
    p {
      font-size: .9rem;
    }
  }
  #legend .key-legend{
    display: none;
  }
}

.bg-block{
  background-color: #88888888;
  padding: 1.5rem;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: scroll;
  margin-bottom: 1.2rem;
  h2{ line-height: 1; margin-top: .4rem;}
  h3{margin-top: 1.2rem;}
  &.no-margin{margin-bottom: 0.6rem;}
  @at-root &--secondary{
    padding: .2rem 0.4rem;
    font-size: .65rem;
    background-color: #88888888;
    margin-bottom: 1.2rem;
    width: 4rem;
  }
}
.techno-item-container{
  margin: 1.2rem 0 1rem;
}
.techno-item {
  margin-right: 1rem;
  text-transform: capitalize;
  padding: .2rem .4rem;
  border: 1px solid #FFF;
  border-radius: 4px;
  &:last-child{
    margin-right: 0;
  }
}